body {
  background-color: #38383d;
  color: #f9f9fa;
  font-family: 'Roboto', sans-serif;
}

h2 {
  margin-left: 30%;
  font-style: italic;
}

.cat {
	text-align: center;
}

.tile {
	margin: 2px;
	padding-bottom: 5px;
	padding-top: 5px;
	background-color: #4a4a4f;
}

.tile2 {
	padding: 7%;
}